@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-preto.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    background-size: cover;
    width: 256px;
    height: 550px;
    background: url('../imagens/celular-samsung.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 8px;
    left: 9.9px;
    border-radius: 23px;
    height: 535px;
    width: 238px;
}

section#redes {
    text-align: center;
    padding-top: 20px;
}

section#redes p{
    font-family: 'Sriracha', cursive;
    background-color: darkred;
    color: white;
    height: 30px;
    font-weight: bolder;
    font-size: 12pt;
    text-align: center
}

section#redes img {
    width: 60px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(202, 195, 195, 0.055);
    box-sizing: border-box;
}

section#redes img:hover {
    border: 2px solid rgba(255, 255, 255, 0.63);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(78, 4, 4, 0.596);
    transition: transform 0.3s, border 1s;
}